.snowflake {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 1em;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}
